* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Proxima Nova",arial, sans-serif;
}
.header__name{
    margin-top: 50px;
    text-align: center;
}

.main__timer{
    text-align: center;
    margin: auto;
    position: relative;
}

.main__name{
    font-size: 20px;
    margin-bottom: 10px;
}

.main__name__span{
    font-size: 42px;
    margin-top: 20px;
}

.main__button{
    text-align: center;
}

.main__button--reset,.main__button--start{
    height: 30px;
    width: 50px;
    margin: 0 20px;
    box-shadow: 2px 4px;
    cursor: pointer;
}

.main__small__div{
    border: 1px solid #000;
    height: 120px;
    width: 120px;
    margin: 0 10px;
}

.main__divs{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.main__small__div__name,.main__small__div__time,.main__small__div--modifyer{
    text-align: center;
    margin: 10px;
}

.main__small--button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.main__button--pause{
    display: none;
    height: 30px;
    width: 50px;
    margin: 0 20px;
    box-shadow: 2px 4px;
    cursor: pointer;
}

.main__board__container{
    position: relative;
    margin: auto;
    top: -135px;
}

#board{
    position: relative;
    text-align: center;
    top: 20px;
}



